* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.header {
    padding: 10px 40px;
}

.header {
    display: flex;
    box-shadow: 0 0 30px -6px;
}

.footer {
    box-shadow: 1px 1px 1px 1px;
    display: flex;
    justify-content: center;
    font-size: smaller;
    color: grey;
    padding: 5px 5px;
    font-family: Roboto Mono, Serif;
}

h2, h4, .roboto {
    font-family: Roboto Mono, Serif;
}

.small {
    font-size: smaller;
}

.small-margin-left {
    margin-left: 10px;
}

.footer a {
    color: grey;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.content {
    padding: 20px 100px 0;
}

.profile {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.logo {
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background: url(pic.png) no-repeat center;
    background-size: 70px 100px;
    box-shadow: 0px 0px 28px -12px black inset;
}

.profNav, .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    justify-content: left;
    flex: 1;
}

.nav > a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
}

.nav > a:hover {
    border-bottom: 5px solid #7d2ae8;
}

.profNav {
    width: 150px;
}

.button, .button-sec {
    display: inline-block;
    padding: 0 10px;
    border-radius: 3px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    transition: background-color .1s linear, border-color .1s linear, color .1s linear;
    background-color: #7d2ae8;
    color: white;
    font-family: Roboto Mono, Serif;
    text-align: center;
    font-size: small;
    box-shadow: 0px 0px 10px -5px black inset;
}

.button-sec {
    background-color: #c496ff;
}

iframe {
    border: none;
}

.event {
    display: grid;
    grid-template-rows: 220px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.event-block {
    margin: auto;
}

.event-title {
    text-align: center;
    font-family: Roboto Mono, Serif;
    font-size: smaller;
    margin-top: 10px;
}

.smaller-margin-top {
    margin-top: 10px;
}

.small-margin-top {
    margin-top: 20px;
}

.center {
    text-align: center;
}

.profile-grid, .photo-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;

}

.photo-grid img {
    margin: auto;
    max-height: 200px;
}

.profile-grid img {
    width: 200px;
}

.profile-card {
    display: flex;
}

.skill-bar {
    border-radius: 10px;
    background: chartreuse;
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 20px;
}

.skill-bar.small {
    height: 20px;
    line-height: 20px;
}

.portfolio-prev img {
    width: 200px;
}